/* Reset CSS */
.app {
  width: 100%;
}

/* App.js */
.container {
  width: 90%;
  max-width: 1440px;
  margin: auto;
}

/* Note.js */
.note {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 1rem;

  min-height: 150px;
  background: #f7f794;
}

.note-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* NotesList.js */
